<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin: 50px auto;width:450px;padding:20px 0" ;>
    <div style="border-bottom:1px solid #eee;">
      <img src="instagram.png" alt="instagram" style="width: 40px;">
      <img src="nikxgram.png" alt="nikxgram" style="width: 155px;margin-left: 35px;">
    </div>
    <p style="font-size:1.1em">Hii</p>
    <p>Use this code to create your account into nikxgram safely.</p>
    <h2 style="background: #00466a;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">111111</h2>
    <!-- <hr style="border:none;border-top:1px solid #eee" /> -->
    <!-- <div style="color:#aaa;font-size:0.8em;line-height:1;font-weight:300;width: 50%;display: flex;justify-content: center;">
  <p>Nikxgram</p>
</div> -->
    <div style="text-align: center;">
      <p style="margin: 0 auto;color:#aaa">From</p>
      <p style="margin: 0 auto;color:black">Nikxgram</p>
    </div>
  </div>